<button (click)="onClick()">Click me</button>
<div *ngIf="isvisible">
   <div>
    <table>
        <tr>
            <th>even/odd</th>
            <th>Room Name</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Status</th>
            <th>Room Image</th>
        </tr>
        <tr *ngFor="let room of roomList ; let e = even ; let o = odd">
            <td>{{e}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.roomPrice}}</td>
            <td>{{room.roomStatus}}</td>
            <td>{{room.roomImage}}</td>
    </table>
   </div>
</div>
<br>
<div>
    <input type="text" #data  [(ngModel)]="userInput"  /> <button (click)="Submit()">Search</button>
</div>
<div [ngSwitch]="role">
    <div *ngSwitchCase="'user'">Welocme User</div>
    <div *ngSwitchCase="'admin'">Welocme Admin</div>
    <div *ngSwitchDefault>Welocme Guest</div>
</div>